@import "/src/theme/theme-variables";

:host {
  .content {
    padding: 1rem;
    form {
      display: flex;
      flex-direction: column;

      input,
      textarea,
      .mat-select-disabled .mat-select-value,
      mat-label {
        color: $black;
      }
    }

    .actions {
      margin-bottom: 1rem;
      text-align: right;
    }

    input,
    mat-select,
    textarea {
      &:disabled {
        cursor: not-allowed;
      }
    }
  }
}
