<div class="content" [ngBusy]="busy$">
  <div class="actions">
    <button mat-flat-button color="primary" [routerLink]="['/products/edit-product', id]">
      <mat-icon>edit</mat-icon> Editar produto
    </button>
    <button mat-flat-button class="btn-success"><mat-icon>folder</mat-icon> Exportar relatório</button>
  </div>
  <p><strong>Nome do produto:</strong> {{ product.value }}</p>
  <p><strong>Preço de aquisição:</strong> {{ product.acquisitionPrice | currency }}</p>
  <p><strong>Preço de venda:</strong> {{ product.sellingPrice | currency }}</p>
  <p><strong>Quantidade em estoque:</strong> {{ product.quantity }}</p>
  <p><strong>Quantidade vendida:</strong> {{ product.quantitySold }}</p>
  <p><strong>Departamentos:</strong> {{ product.department | join : 'value' }}</p>
</div>
