<div class="content" [ngBusy]="busy$">
  <form #f="ngForm" *ngIf="editing">
    <mat-form-field appearance="outline">
      <mat-label>Produto</mat-label>
      <input matInput placeholder="Ex. Vestido" name="product" [(ngModel)]="product.value" type="text" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Preço de aquisição</mat-label>
      <input
        matInput
        name="acquisitionPrice"
        [(ngModel)]="product.acquisitionPrice"
        currencyMask
        [options]="{ allowNegative: false }"
        type="text"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Preço de venda</mat-label>
      <input matInput name="sellingPrice" [(ngModel)]="product.sellingPrice" currencyMask type="text" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Quantidade em estoque</mat-label>
      <input matInput name="quantity" [(ngModel)]="product.quantity" type="number" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Departamentos</mat-label>
      <mat-select name="department" [(ngModel)]="product.department" multiple [compareWith]="compareFn">
        <mat-select-filter
          [placeholder]="'Procure por um departamento...'"
          [displayMember]="'value'"
          [array]="departments"
          (filteredReturn)="departmentsFiltered = $event"
          noResultsMessage="Não foi encontrado departamento com base na sua pesquisa"
        ></mat-select-filter>
        <mat-option *ngFor="let department of departmentsFiltered" [value]="department">
          {{ department.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Descrição</mat-label>
      <textarea rows="10" matInput name="description" [(ngModel)]="product.description" type="text"></textarea>
    </mat-form-field>

    <button mat-flat-button color="primary">Enviar</button>
  </form>
</div>
