<form #f="ngForm">
  <h2>Filtrar por:</h2>
  <mat-form-field appearance="outline">
    <mat-label>Produto</mat-label>
    <mat-select name="product" [ngModel]="productSelected">
      <mat-select-filter
        [placeholder]="'Procure por um produto...'"
        [displayMember]="'search'"
        [array]="products"
        (filteredReturn)="productsFiltered = $event"
        noResultsMessage="Não foi encontrado produto com base na sua pesquisa"
      ></mat-select-filter>
      <mat-option *ngFor="let product of productsFiltered" [value]="product.id">
        {{ product.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Departmento</mat-label>
    <mat-select name="user" [ngModel]="departmentSelected">
      <mat-select-filter
        [placeholder]="'Procure por um departamento...'"
        [displayMember]="'search'"
        [array]="departments"
        (filteredReturn)="departmentsFiltered = $event"
        noResultsMessage="Não foi encontrado usuário com base na sua pesquisa"
      ></mat-select-filter>
      <mat-option *ngFor="let department of departmentsFiltered" [value]="department.id">
        {{ department.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Preço mínimo de venda</mat-label>
    <span matPrefix>R$ &nbsp;</span>
    <input matInput type="number" name="minPrice" [(ngModel)]="minSalePrice" />
  </mat-form-field>

  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Preço máximo de venda</mat-label>
    <span matPrefix>R$ &nbsp;</span>
    <input matInput type="number" name="maxPrice" [(ngModel)]="maxSalePrice" />
  </mat-form-field>

  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Preço mínimo de compra</mat-label>
    <span matPrefix>R$ &nbsp;</span>
    <input matInput type="number" name="minPrice" [(ngModel)]="minPurchasePrice" />
  </mat-form-field>

  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Preço máximo de compra</mat-label>
    <span matPrefix>R$ &nbsp;</span>
    <input matInput type="number" name="maxPrice" [(ngModel)]="maxPurchasePrice" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Quantidade mínima em estoque</mat-label>
    <input matInput type="number" name="minQtdInStock" [(ngModel)]="minQtdInStock" />
  </mat-form-field>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <button mat-stroked-button [mat-dialog-close]>Cancelar</button>
    <button mat-flat-button color="primary" [mat-dialog-close]="f.controls" [disabled]="!f.valid">Buscar</button>
  </div>
</form>
