<form #f="ngForm">
  <h2>Filtrar por:</h2>
  <ng-select
    [(ngModel)]="productSelected"
    appearance="outline"
    notFoundText="Nenhum produto foi encontrado"
    name="product"
    placeholder="Produto"
    class="my-ng-select"
  >
    <ng-option *ngFor="let product of products" [value]="product">{{ product.value }}</ng-option>
  </ng-select>

  <ng-select
    [(ngModel)]="departmentSelected"
    appearance="outline"
    notFoundText="Nenhum departamento foi encontrado"
    name="department"
    placeholder="Departamento"
    class="my-ng-select"
  >
    <ng-option *ngFor="let department of departments" [value]="department">{{ department.value }}</ng-option>
  </ng-select>

  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Preço mínimo de venda</mat-label>
    <input matInput type="text" name="minPrice" [(ngModel)]="minSalePrice" currencyMask />
  </mat-form-field>

  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Preço máximo de venda</mat-label>
    <input matInput type="text" name="maxPrice" [(ngModel)]="maxSalePrice" currencyMask />
  </mat-form-field>

  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Preço mínimo de compra</mat-label>
    <input matInput type="text" name="minPrice" [(ngModel)]="minPurchasePrice" currencyMask />
  </mat-form-field>

  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Preço máximo de compra</mat-label>
    <input matInput type="text" name="maxPrice" [(ngModel)]="maxPurchasePrice" currencyMask />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Quantidade mínima em estoque</mat-label>
    <input matInput type="number" name="minQtdInStock" [(ngModel)]="minQtdInStock" />
  </mat-form-field>

  <div class="actions">
    <button mat-stroked-button [mat-dialog-close]>Cancelar</button>
    <button mat-flat-button color="primary" [mat-dialog-close]="f.controls" [disabled]="!f.valid">Buscar</button>
  </div>
</form>
