<div class="content">
  <div class="statistics">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <button mat-mini-fab color="primary">
            <mat-icon>shopping_cart</mat-icon>
          </button>
        </div>
        <mat-card-subtitle>N° de vendas</mat-card-subtitle>
        <mat-card-title>{{ dashboardData.numberOfSales }}</mat-card-title>
      </mat-card-header>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <button mat-mini-fab color="primary">
            <mat-icon>show_chart</mat-icon>
          </button>
        </div>
        <mat-card-subtitle>Montante</mat-card-subtitle>
        <mat-card-title>{{ dashboardData.totalSales | currency }}</mat-card-title>
      </mat-card-header>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <button mat-mini-fab color="primary">
            <mat-icon>attach_money</mat-icon>
          </button>
        </div>
        <mat-card-subtitle>Lucro</mat-card-subtitle>
        <mat-card-title>{{ dashboardData.totalProfit | currency }}</mat-card-title>
      </mat-card-header>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <button mat-mini-fab color="warn">
            <mat-icon>money_off</mat-icon>
          </button>
        </div>
        <mat-card-subtitle>Custo</mat-card-subtitle>
        <mat-card-title>{{ dashboardData.totalCost | currency }}</mat-card-title>
      </mat-card-header>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <button mat-mini-fab color="primary">
            <mat-icon>shopping_cart</mat-icon>
          </button>
        </div>
        <mat-card-subtitle>N° de produtos em estoque</mat-card-subtitle>
        <mat-card-title>{{ dashboardData.totalCost }}</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</div>
