<div class="content" [ngBusy]="busy$">
  <div class="cards" *ngIf="dashboardData">
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar>
          <button mat-mini-fab color="primary">
            <mat-icon>shopping_cart</mat-icon>
          </button>
        </div>
        <mat-card-subtitle>N° de vendas</mat-card-subtitle>
        <mat-card-title>{{ dashboardData.numberOfSales }}</mat-card-title>
      </mat-card-header>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar>
          <button mat-mini-fab color="primary">
            <mat-icon>show_chart</mat-icon>
          </button>
        </div>
        <mat-card-subtitle>Montante</mat-card-subtitle>
        <mat-card-title>{{ dashboardData.totalAmount | currency }}</mat-card-title>
      </mat-card-header>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar>
          <button mat-mini-fab color="primary">
            <mat-icon>attach_money</mat-icon>
          </button>
        </div>
        <mat-card-subtitle>Lucro</mat-card-subtitle>
        <mat-card-title>{{ dashboardData.totalProfit | currency }}</mat-card-title>
      </mat-card-header>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar>
          <button mat-mini-fab color="warn">
            <mat-icon>money_off</mat-icon>
          </button>
        </div>
        <mat-card-subtitle>Custo</mat-card-subtitle>
        <mat-card-title>{{ dashboardData.totalCost | currency }}</mat-card-title>
      </mat-card-header>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar>
          <button mat-mini-fab color="primary">
            <mat-icon>shopping_cart</mat-icon>
          </button>
        </div>
        <mat-card-subtitle>N° de produtos em estoque</mat-card-subtitle>
        <mat-card-title>{{ dashboardData.totalCost }}</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="statistics mt-20">
    <app-dashboard-chart [chartData]="chartData"></app-dashboard-chart>
    <app-top-list-card [data]="mostSaledProductData"></app-top-list-card>

    <table mat-table [dataSource]="dashboardData.products" class="mat-elevation-z8">
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>Foto</th>
        <td mat-cell *matCellDef="let product">
          <img [src]="product.image" class="rounded" />
        </td>
      </ng-container>

      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let product">{{ product.value }}</td>
      </ng-container>

      <ng-container matColumnDef="acquisitionPrice">
        <th mat-header-cell *matHeaderCellDef>Preço de compra</th>
        <td mat-cell *matCellDef="let product">{{ product.acquisitionPrice }}</td>
      </ng-container>

      <ng-container matColumnDef="sellingPrice">
        <th mat-header-cell *matHeaderCellDef>Preço de venda</th>
        <td mat-cell *matCellDef="let product">{{ product.sellingPrice }}</td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Quantidade</th>
        <td mat-cell *matCellDef="let product">{{ product.quantity }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
