@import "/src/theme/theme-variables.scss";
:host {
  .content {
    padding: 1rem;

    .cards {
      mat-card {
        min-width: 250px;
        width: 100%;
      }
      display: grid;
      grid-template-columns: repeat(auto-fill, 250px);
      justify-content: space-between;

      gap: 0.5rem;
    }

    .statistics {
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-template-rows: 1fr;
      gap: 1rem;
    }
  }

  mat-card.card {
    display: flex;
    align-items: center;
    padding: 1rem 0;

    mat-card-header {
      border: none;
      .mat-card-title {
        margin-bottom: 0;
        font-size: 1.5rem;
      }
      .mat-card-avatar {
        button[mat-mini-fab] {
          box-shadow: none;
          cursor: default;
        }
      }
    }
  }
}
