:host {
  .content {
    padding: 1rem;

    mat-card {
      max-width: 250px;
      mat-card-header {
        border: none;
        .mat-card-title {
          margin-bottom: 0;
          font-size: 2rem;
        }
        .mat-card-avatar {
          button[mat-mini-fab] {
            box-shadow: none;
            cursor: default;
          }
        }
      }
    }
  }
}
