<div class="content">
  <div class="actions">
    <form #f="ngForm">
      <mat-form-field appearance="outline">
        <mat-label>Pesquisar produto</mat-label>
        <input matInput name="search" [(ngModel)]="searchProductTerm" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
    <button mat-flat-button color="primary" (click)="addProduct()"><mat-icon>add</mat-icon>Adicionar produto</button>
  </div>
  <mat-card>
    <table mat-table [dataSource]="products">
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>Foto</th>
        <td [ngClass]="{ 'no-bt-border': last }" mat-cell *matCellDef="let product; let last = last">
          <img [src]="product.image ? product.image : productDefaultImage" [alt]="product.value" class="rounded" />
        </td>
      </ng-container>

      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td [ngClass]="{ 'no-bt-border': last }" mat-cell *matCellDef="let product; let last = last">
          {{ product.value }}
        </td>
      </ng-container>

      <ng-container matColumnDef="acquisitionPrice">
        <th mat-header-cell *matHeaderCellDef>Preço de compra</th>
        <td [ngClass]="{ 'no-bt-border': last }" mat-cell *matCellDef="let product; let last = last">
          {{ product.acquisitionPrice | currency }}
        </td>
      </ng-container>

      <ng-container matColumnDef="sellingPrice">
        <th mat-header-cell *matHeaderCellDef>Preço de venda</th>
        <td [ngClass]="{ 'no-bt-border': last }" mat-cell *matCellDef="let product; let last = last">
          {{ product.sellingPrice | currency }}
        </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Quantidade</th>
        <td [ngClass]="{ 'no-bt-border': last }" mat-cell *matCellDef="let product; let last = last">
          {{ product.quantity }}
        </td>
      </ng-container>

      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef>Departamento</th>
        <td [ngClass]="{ 'no-bt-border': last }" mat-cell *matCellDef="let product; let last = last">
          {{ product.department.value }}
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Ação</th>
        <td [ngClass]="{ 'no-bt-border': last }" mat-cell *matCellDef="let product; let last = last">
          <button mat-icon-button (click)="editProduct(product.id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteProduct(product.id)">
            <mat-icon>delete</mat-icon>
          </button>

          <button mat-icon-button (click)="seeProduct(product.id)">
            <mat-icon>visibility</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [length]="50" [pageSize]="5" hidePageSize></mat-paginator>
  </mat-card>
</div>
