:host {
  .content {
    padding: 1rem;

    table {
      width: 100%;
      text-align: center;
      table-layout: fixed;

      th {
        text-align: center;
      }

      th:first-child,
      td:first-child {
        text-align: left;
      }
    }

    .actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
