@import "src/theme/theme-variables";

.navbar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  width: fit-content;
  padding: 16px;
}

.menu-button {
  margin-right: 1rem;
}

.active {
  background-color: #00000010;
}
