<mat-toolbar class="mat-elevation-z6 navbar" color="primary" fxLayout="column" fxLayoutAlign="space-between center">
  <div fxLayoutAlign="start center" fxLayoutGap="10px" fxLayout="column">
    <app-logo [size]="30" [color]="'#FFF'"></app-logo>
    <app-logo-text [size]="100" [color]="'#FFF'" fxHide.lt-sm></app-logo-text>
    <button mat-button routerLink="/dashboard" routerLinkActive="active">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </button>
    <button mat-button routerLink="/products" routerLinkActive="active">
      <mat-icon>shopping_cart</mat-icon>
      <span translate>Products</span>
    </button>
    <button mat-button routerLink="/settings" routerLinkActive="active">
      <mat-icon>settings</mat-icon>
      <span translate>Settings</span>
    </button>
  </div>
</mat-toolbar>
