<mat-toolbar class="mat-elevation-z6 navbar" color="primary" fxLayout="column" fxLayoutAlign="space-between center">
  <div fxLayoutAlign="start center" fxLayoutGap="10px" fxLayout="column">
    <app-logo [size]="30" [color]="'#FFF'"></app-logo>
    <app-logo-text [size]="100" [color]="'#FFF'" fxHide.lt-sm></app-logo-text>
    <button mat-button routerLink="/home" routerLinkActive="active">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </button>
    <button mat-button routerLink="/about" routerLinkActive="active">
      <mat-icon>shopping_cart</mat-icon>
      <span translate>Products</span>
    </button>
    <button mat-button routerLink="/about" routerLinkActive="active">
      <mat-icon>settings</mat-icon>
      <span translate>Settings</span>
    </button>
  </div>
  <div fxFlex fxLayoutGap="10px" fxLayoutAlign="start end">
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon>person</mat-icon>
    </button>
    <app-language-selector [icon]="true"></app-language-selector>
  </div>
  <mat-menu #userMenu="matMenu">
    <mat-list>
      <mat-list-item>
        <span translate>Logged in as</span>&nbsp;<b>{{ username }}</b>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <button mat-menu-item (click)="logout()" translate>Logout</button>
  </mat-menu>
</mat-toolbar>
