// Variables
$primary-blue: #2196f3;
$primary-red: #f44336;
$primary-green: #469d73;
$dark-green: #198754;
$black: #282828;
$white: #fff;
$box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

// Material
@import "~@angular/material/theming";
$app-primary: mat-palette($mat-blue);
$app-accent: mat-palette($mat-pink, A200, A100, A400);
$app-warn: mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
$material-design-icons-font-directory-path: "~material-design-icons-iconfont/dist/fonts/";
