<form #f="ngForm">
  <h2>Filtrar por:</h2>
  <mat-form-field appearance="outline">
    <mat-label>Usuário</mat-label>
    <mat-select name="user" [ngModel]="userSelected">
      <mat-select-filter
        [placeholder]="'Procure por um usuário...'"
        [displayMember]="'search'"
        [array]="users"
        (filteredReturn)="usersFiltered = $event"
        noResultsMessage="Não foi encontrado usuário com base na sua pesquisa"
      ></mat-select-filter>
      <mat-option *ngFor="let user of usersFiltered" [value]="user.id">
        {{ user.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Produto</mat-label>
    <mat-select name="product" [ngModel]="productSelected">
      <mat-select-filter
        [placeholder]="'Procure por um produto...'"
        [displayMember]="'search'"
        [array]="products"
        (filteredReturn)="productsFiltered = $event"
        noResultsMessage="Não foi encontrado produto com base na sua pesquisa"
      ></mat-select-filter>
      <mat-option *ngFor="let product of productsFiltered" [value]="product.id">
        {{ product.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Data inicial:</mat-label>
    <input matInput [matDatepicker]="startDatePicker" name="startDate" [ngModel]="startDate" />
    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Data final:</mat-label>
    <input matInput [matDatepicker]="endDatePicker" name="endDate" [ngModel]="endDate" />
    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
  </mat-form-field>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <button mat-stroked-button [mat-dialog-close]>Cancelar</button>
    <button mat-flat-button color="primary" [mat-dialog-close]="f.controls" [disabled]="!f.valid">Buscar</button>
  </div>
</form>
