<form #f="ngForm">
  <h2>Filtrar por:</h2>
  <ng-select
    [(ngModel)]="userSelected"
    appearance="outline"
    notFoundText="Nenhum usuário foi encontrado"
    name="user"
    placeholder="Usuário"
    class="my-ng-select"
  >
    <ng-option *ngFor="let user of users" [value]="user">{{ user.value }}</ng-option>
  </ng-select>

  <ng-select
    [(ngModel)]="productSelected"
    appearance="outline"
    notFoundText="Nenhum produto foi encontrado"
    name="product"
    placeholder="Produto"
    class="my-ng-select"
  >
    <ng-option *ngFor="let product of products" [value]="product.id">{{ product.value }}</ng-option>
  </ng-select>

  <mat-form-field appearance="outline">
    <mat-label>Data inicial:</mat-label>
    <input matInput [matDatepicker]="startDatePicker" name="startDate" [ngModel]="startDate" />
    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Data final:</mat-label>
    <input matInput [matDatepicker]="endDatePicker" name="endDate" [ngModel]="endDate" />
    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
  </mat-form-field>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <button mat-stroked-button [mat-dialog-close]>Cancelar</button>
    <button mat-flat-button color="primary" [mat-dialog-close]="f.controls" [disabled]="!f.valid">Buscar</button>
  </div>
</form>
