@import "/src/theme/theme-variables";
@import "src/theme/components/ng-select.scss";

:host {
  form {
    display: flex;
    flex-direction: column;

    .input-wrapper {
      display: flex;
      gap: 1rem;
      mat-form-field {
        flex: 1;
      }
    }
    mat-slide-toggle {
      width: fit-content;
    }
  }
}
