@import "/src/theme/theme-variables";
@import "src/theme/components/ng-select.scss";

:host {
  form {
    display: flex;
    flex-direction: column;

    input,
    textarea,
    mat-label,
    mat-select::ng-deep .mat-select-min-line,
    mat-slide-toggle::ng-deep .mat-slide-toggle-content {
      color: $black;
    }

    .mat-slide-toggle.mat-disabled {
      opacity: 1;
      cursor: not-allowed;
    }

    .mat-form-field-disabled {
      cursor: not-allowed;
    }
  }
}
