.my-ng-select {
  &::ng-deep {
    .ng-select-container {
      cursor: pointer;
    }
    .ng-input {
      padding: 0.5rem 0.7rem;
      input {
        cursor: text !important;
      }
    }
    .ng-value {
      padding-top: 0.5rem;
      cursor: pointer;
    }
    .ng-placeholder {
      padding-top: 0.5rem;
    }
  }
  &.ng-select-opened {
    &::ng-deep {
      .ng-placeholder {
        padding-top: 0rem;
      }
    }
  }

  &.ng-select-disabled .ng-value {
    background-color: #3f51b5;
    color: #fff;
  }
}
